/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body > ul , body > li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dashboard_grid ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 24px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}


@media (max-width:992px) {
  .dashboard_grid ul{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:768px) {
  .dashboard_grid ul{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:500px) {
  .dashboard_grid ul{
    grid-template-columns: repeat(1, 1fr);
  }
}

.center_content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer:hover{
  cursor: pointer;
}

.nav_items{
  position: relative;
  min-height: 65px;
}
.nav_items ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}
.dashboard_container{
 position: relative;
  
}
.nav_item{
  position: relative;
  margin: 5px !important;
  padding: .4px 20px !important;
}

.nav_item:hover{
  padding: 1px 22px !important;
}

.study_container{
  /* height: 100%; */
  height: calc(100vh - 143px);
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

@media (max-width:768px) {
  .study_container{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    grid-gap: 1em;
    overflow-x: scroll;
  }

}

/* .libraryWindow h3 , .libraryWindow p , .compendiumWindow h3 , .compendiumWindow p {
  margin: 4px;
} */

.drop_zone{
  height: 0;
  background-color: white;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 0px blue;
}

.drop_zone.ready{
  height: 15px;
  /* background-color: rgba(0, 188, 212, .36); */
  /* box-shadow: 0px 0px 18px rgb(0, 188, 212); */
  z-index: 9999999999999999;
}

.Library, .Compendium{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 48px;
  overflow-y: hidden;
}

.Toolbar{
  position: relative;
  top:15px;
}

.compendiumWindow, .libraryWindow{
  height: calc(100vh - 255px);
  overflow-y: scroll;
  position: relative;
}


.addBlock{
  color:white;
  position:absolute;
  right:30px;
  bottom:0px;
}

.compendiumWindow > ul{
  padding:0;
  list-style-type: none;
  margin:0;
}
.App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px calc(100vh - 64px);
  /* grid-template-rows: 64px calc(100vh - 128px) 64px; NOTE this was with footer */
  overflow-y: hidden;
}
.drag_handle:hover{
  cursor: move;
}
.Bit{
  position: relative;
}

.Bit .drag_handle{
  position: absolute;
  top:5px;
  right:5px;
  opacity: .5;
}

.drop_zone{
  z-index: 99999;
}

.Bit h1, .Bit h2, .Bit h3, .Bit h4, .Bit h5, .Bit h6{
  text-align: center;
}

.Bit *, .Verse *{
  padding: 0;
  margin: 0;
}

.Bit div:first-child, .Verse div:first-child{
  padding-top: 5px;
  box-shadow: none !important;
}

.libraryWindow.grid{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-gap: 1em;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 1em; 
  text-align: center;
  
}

.bit_box_shadow{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

.compendiumWindow{
  display:flex;
  flex-direction:column;
}

.defaultDragArea{
  flex:1;
  display:flex;
  flex-direction:column;
}

.editText{
  color: #555;
}

.deleteBit{
  float: right;
  position: relative;
  right: 50px;
}
.deleteBit:hover{
  cursor: pointer;
}
.saveBit{
  float: right;
  position: relative;
  right: 33px;
}
.saveBit:hover{
  cursor: pointer;
}
/* .libraryWindow.grid div{
  
} */