.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
ul , li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dashboard_grid ul{
  margin: 24px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

/* .nav_items ul{
  
} */
/* .dashboard_grid ul{
  box-sizing: border-box; */
  /* margin: 1em;
  width: 25%;
  height: 300px;
}
.dashboard_grid ul .pin div{
  width: 100%;
} */
@media (max-width:992px) {
  .dashboard_grid ul{
      /* width: 33.333%; */
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:768px) {
  .dashboard_grid ul{
    /* width: 50%; */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:500px) {
  .dashboard_grid ul{
    /* width: 100%; */
    grid-template-columns: repeat(1, 1fr);
  }
}

.center_content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer:hover{
  cursor: pointer;
}

.nav_items{
  position: relative;
  min-height: 65px;
}
.nav_items ul{
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}
.dashboard_container{
 position: relative;
  
}
.nav_item{
  position: relative;
  margin: 5px !important;
  padding: .4px 20px !important;
}

.nav_item:hover{
  padding: 1px 22px !important;
}

.study_container{
  height: 75vh;
  max-height: 75vh;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.study_container > div{
  height: 75vh;
  max-height: 75vh;
  /* overflow-y: scroll; */
}
.compendiumWindow, .libraryWindow{
  height: 66vh;
  overflow-y: scroll;
}
.addBlock{
  color:white;
  position:absolute;
  right:30px;
  bottom:0px;
}
